In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine

In [3]:
import pandas as pd

In [13]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:952175aK@localhost/world"

In [14]:
engine = create_engine(connection)

In [15]:
engine

Engine(mysql+pymysql://root:***@localhost/world)

In [16]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_world
0          cities
1       countries
2       languages